# Seattle and Boston Airbnb Data Analysis

## Step 0.1: Load the packages

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Step 0.2: Import the source datasets

In [2]:
# Load in the airbnb seattle datasets
df_Sea_calendar = pd.read_csv('/Users/kobe/Desktop/DS Nanodegree/Project 1/datasets/Sea_calendar.csv',sep=",")
df_Sea_listings = pd.read_csv('/Users/kobe/Desktop/DS Nanodegree/Project 1/datasets/Sea_listings.csv', sep=",")
df_Sea_reviews = pd.read_csv('/Users/kobe/Desktop/DS Nanodegree/Project 1/datasets/Sea_reviews.csv', sep=",")
df_Sea_calendar.head(10)

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN
5    12147973  2017-08-31         f   NaN
6    12147973  2017-08-30         f   NaN
7    12147973  2017-08-29         f   NaN
8    12147973  2017-08-28         f   NaN
9    12147973  2017-08-27         f   NaN

In [3]:
# Load in the airbnb boston datasets
df_Bos_calendar = pd.read_csv('/Users/kobe/Desktop/DS Nanodegree/Project 1/datasets/Bos_calendar.csv',sep=",")
df_Bos_listings = pd.read_csv('/Users/kobe/Desktop/DS Nanodegree/Project 1/datasets/Bos_listings.csv', sep=",")
df_Bos_reviews = pd.read_csv('/Users/kobe/Desktop/DS Nanodegree/Project 1/datasets/Bos_reviews.csv', sep=",")
df_Bos_reviews.head(10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...
5,7202016,43979139,2015-08-23,1154501,Barent,"Kelly was great, place was great, just what I ..."
6,7202016,45265631,2015-09-01,37853266,Kevin,Kelly was great! Very nice and the neighborhoo...
7,7202016,46749120,2015-09-13,24445447,Rick,hola all bnb erz - Just left Seattle where I h...
8,7202016,47783346,2015-09-21,249583,Todd,Kelly's place is conveniently located on a qui...
9,7202016,48388999,2015-09-26,38110731,Tatiana,"The place was really nice, clean, and the most..."

## Step 1: EDA

In [4]:
# display the shape of the datasets
print(f"The shapes of the Seattle Airbnb datasets are: ")
print(f"Calendar:", df_Sea_calendar.shape, 
      "; Listings:", df_Sea_listings.shape, 
      "; Reviews:", df_Sea_reviews.shape)

print(f"The shapes of the Boston Airbnb datasets are: ")
print(f"Calendar:", df_Bos_calendar.shape, 
      "; Listings:", df_Bos_listings.shape, 
      "; Reviews:", df_Bos_reviews.shape)

The shapes of the Seattle Airbnb datasets are:
Calendar: (1308890, 4) ; Listings: (3585, 95) ; Reviews: (68275, 6)
The shapes of the Boston Airbnb datasets are:
Calendar: (1393570, 4) ; Listings: (3818, 92) ; Reviews: (84849, 6)

The Boston Listing Dataset has more columns. Let's check!

In [5]:
# Get the list of columns for each DFs
columns_seattle = set(df_Sea_listings.columns)
columns_boston = set(df_Bos_listings.columns)

# Find the difference in columns that are in Seattle but not in Boston
extra_columns_boston = columns_seattle - columns_boston
print(extra_columns_boston)

{'access', 'house_rules', 'interaction'}

In [6]:
print(df_Sea_listings['interaction'].nunique(), df_Sea_listings['access'].nunique(), df_Sea_listings['house_rules'].nunique())

1617 1762 1928

The columns 'interaction', 'access', and 'house_rules' in the Seattle dataset consist of highly varied string entries. Given the complexity of the inputs, we'd exclude these columns from our analysis for simplicity. 

Additionally, for categorical variables with more than 100 unique entries, it's advisable to remove them to avoid unnecessary complexity. For the remaining categorical variables, we'd create dummy columns for each of the existing entry and remove the original column. This simplifies the data structure, while still retaining essential categorical information.

In [7]:
# Drop the columns 'interaction', 'access', and 'house_rules'
df_Sea_listings = df_Sea_listings.drop(columns=list(extra_columns_boston))
df_Sea_listings.shape

(3585, 92)

In [12]:
# Merge df_listings and df_reviews
merged_Sea_df = pd.merge(df_Sea_listings, df_Sea_reviews, left_on='id', right_on='listing_id')
# , how='left'

In [16]:
# Merge the result with df_calendar
merged_Sea_df = pd.merge(merged_Sea_df, df_Sea_calendar, left_on='id_x', right_on='listing_id')

In [15]:
df_Sea_reviews.shape

(68275, 6)

In [8]:
# Create an additional column 'City' and combine the two DataFrames into one
df_Sea_calendar['City'] = 'Seattle'
df_Bos_calendar['City'] = 'Boston'
df_calendar = pd.concat([df_Sea_calendar, df_Bos_calendar], ignore_index=True)
display(df_calendar.sample(5))

         listing_id        date available    price     City
967764      6865619  2017-02-04         f      NaN  Seattle
1315566     7735464  2016-04-19         f      NaN   Boston
2318476     6216116  2016-12-30         t   $90.00   Boston
2611968     5297143  2016-02-01         t  $200.00   Boston
777979      6936712  2017-01-27         t  $175.00  Seattle

In [9]:
# Repeat for 'listings' dataset
df_Sea_listings['City'] = 'Seattle'
df_Bos_listings['City'] = 'Boston'
df_listings = pd.concat([df_Sea_listings, df_Bos_listings], ignore_index=True)
display(df_listings.sample(5))

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,City
2958,13374617,https://www.airbnb.com/rooms/13374617,20160906204935,2016-09-07,Private Bdr4 with Airbed,My place is close to Ashmont and Shawmut Red L...,Private Room with Airbed sharing All common ar...,My place is close to Ashmont and Shawmut Red L...,none,"Diverse neighborhood (Black, Spanish, Asian, ....",...,f,NaN,NaN,f,moderate,f,f,20,2.37,Seattle
4389,7807658,https://www.airbnb.com/rooms/7807658,20160104002432,2016-01-04,Top Floor Corner Apt-Downtown View,Hardwood floors with tons of natural light. Go...,NaN,Hardwood floors with tons of natural light. Go...,none,NaN,...,f,NaN,WASHINGTON,f,flexible,f,f,1,0.21,Boston
2043,1240598,https://www.airbnb.com/rooms/1240598,20160906204935,2016-09-07,Downtown Studio Theater Dist Common,Cute little studio in the heart of it all. Loc...,**KINDLY NOTE:** The discounted price you see ...,Cute little studio in the heart of it all. Loc...,none,If you (SENSITIVE CONTENTS HIDDEN) the area yo...,...,f,NaN,NaN,f,moderate,f,f,7,1.93,Seattle
6710,7405128,https://www.airbnb.com/rooms/7405128,20160104002432,2016-01-04,Spacious Studio Apartment w/Kitchen,"Spacious Studio, with a separate kitchen and f...","The studio is a warm, cozy and lovingly appoin...","Spacious Studio, with a separate kitchen and f...",none,Maple Leaf is a wonderful residential neighbor...,...,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN,Boston
3506,6179374,https://www.airbnb.com/rooms/6179374,20160906204935,2016-09-07,"Located easy to Harvard, BU","Comfortable room, super great mattress, essent...","Located on the quiet street of Allston, while ...","Comfortable room, super great mattress, essent...",none,"Look up Allston Village, you will get enormous...",...,f,NaN,NaN,f,strict,f,f,9,0.24,Seattle

In [10]:
# Repeat for 'reviews' dataset
df_Sea_reviews['City'] = 'Seattle'
df_Bos_reviews['City'] = 'Boston'
df_reviews = pd.concat([df_Sea_reviews, df_Bos_reviews], ignore_index=True)
display(df_reviews.sample(5))

,listing_id,id,date,reviewer_id,reviewer_name,comments,City
81205,1733747,17635104,2014-08-15,5453848,Meriem,"The place was very nice, clean, and modern. N...",Boston
5574,2776143,58102641,2015-12-31,13636912,Stacey,The place was as described in a good location....,Seattle
44029,2754149,28821964,2015-03-30,1525468,Alexandria,"I had a great time staying with Carl, Ceci and...",Seattle
75030,6773472,39837520,2015-07-26,11272674,Tara,Jared was a peach!\nVery accommodating and ans...,Boston
73643,2154617,19524199,2014-09-14,18690774,Jacek,My first airbnb rental was with Nick. The apa...,Boston

In [11]:
# display the shape of the datasets
print(f"The shapes of the combined datasets are: ")
print(f"Calendar:", df_calendar.shape, 
      "; Listings:", df_listings.shape, 
      "; Reviews:", df_reviews.shape)

The shapes of the combined datasets are:
Calendar: (2702460, 5) ; Listings: (7403, 93) ; Reviews: (153124, 7)

In [12]:
display(df_calendar.head(5))

   listing_id        date available price     City
0    12147973  2017-09-05         f   NaN  Seattle
1    12147973  2017-09-04         f   NaN  Seattle
2    12147973  2017-09-03         f   NaN  Seattle
3    12147973  2017-09-02         f   NaN  Seattle
4    12147973  2017-09-01         f   NaN  Seattle

In [13]:
display(df_calendar.dtypes)

listing_id     int64
date          object
available     object
price         object
City          object
dtype: object

In [14]:
# Merge df_listings and df_reviews
merged_df = pd.merge(df_listings, df_reviews, left_on=['id', 'City'], right_on=['listing_id', 'City'])
# Merge the result with df_calendar
merged_df = pd.merge(merged_df, df_calendar, left_on=['id_x', 'City'], right_on=['listing_id', 'City'])

In [17]:
# Merge the result with df_calendar
merged_df = pd.merge(merged_df, df_calendar, left_on=['id_x', 'City'], right_on=['listing_id', 'City'])

In [14]:
merged_df = pd.merge(df_listings, df_calendar, left_on=['id', 'City'], right_on=['listing_id', 'City'])

KeyboardInterrupt:

In [15]:
print(merged_df.shape)
display(merged_df.head(10))

(153124, 99)

,id_x,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,City,listing_id,id_y,date,reviewer_id,reviewer_name,comments
0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,13631717,2014-06-01,9645972,Dmitrii,Andrea is a great host. Neighborhood is wonder...
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,13866662,2014-06-06,12020681,Paola,We had a great time at Andrea's place. He is v...
2,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,14990373,2014-06-30,8165047,Jaydee,Adrea was very welcoming and flexible to our n...
3,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,19807601,2014-09-18,21319433,Anthony,Andrea made us feel welcome because he made th...
4,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,20322887,2014-09-27,21706950,Xinny,Me and my friend were so happy about Andrea's ...
5,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,21058032,2014-10-10,22007743,Dennis,"Andrea was a great host. Very nice, helpful, u..."
6,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,21263552,2014-10-13,22200211,Quentin,Andrea was really welcoming and gave us precio...
7,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,21627617,2014-10-20,9395861,Yat,Andrea was really welcoming and a great host. ...
8,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,22565955,2014-11-09,16903138,Yanfei,Andrea is very friendly. The room is nice and...
9,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,1,1.3,Seattle,3075044,28918466,2015-03-31,24807052,Angie,Andrea is an excellent host! The location is ...

In [114]:
# Handle Categorical Variables

# Remove categorical columns with > 100 unique entries
for column in df_listings.select_dtypes(include=['object']).columns:
    if df_listings[column].nunique() > 100:
        df_listings.drop(column, inplace=True, axis=1)
# Create dummy variables for the remaining categorical variables
# dummy_listings = pd.get_dummies(df_listings, drop_first=True)

In [115]:
cat_listings = df_listings.select_dtypes(include=['object'])
cat_listings_cols = cat_listings.columns

dummy_listings = pd.DataFrame()
for col in cat_listings_cols:
    dummies = pd.get_dummies(df_listings[col], prefix=col, prefix_sep='_', drop_first=True)
    dummy_listings = pd.concat([dummy_listings, dummies], axis=1)

print(dummy_listings.shape)
display(dummy_listings.sample(5))

(7403, 515)

,last_scraped_2016-09-07,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour,host_response_rate_10%,host_response_rate_100%,host_response_rate_14%,host_response_rate_17%,host_response_rate_19%,host_response_rate_20%,...,calendar_updated_today,calendar_updated_yesterday,calendar_last_scraped_2016-09-06,instant_bookable_t,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_super_strict_30,require_guest_profile_picture_t,require_guest_phone_verification_t,City_Seattle
604,1,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,1
5481,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6040,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
5497,0,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4875,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0